site_name: OS Docs
site_url: http://abotw.github.io/docs-os
repo_url: https://github.com/abotw/docs-os
theme:
  name: material
  features:
    - content.code.copy
    - search.suggest
    - search.highlight
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
plugins:
  - search